h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 1em; }
hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
::selection { background: rgba(0, 0, 0, 0.2); }
::-moz-selection { background: rgba(0, 0, 0, 0.2); }

html {
    background: #620;
    background: linear-gradient(to right, #eee 0, #fff 50%, #eee 100%);
    text-align: center;
    padding: 0;
}
html, input, textarea, select {
    color: #444;
    text-shadow: none;
    
    font-family: 'Roboto', 'calibri', sans-serif, sans-serif;
    font-weight: 300;
}
body {
    margin: auto;
    text-align: left;
}

strong, .strong, .bold { font-weight: 400; }
.small { font-size: 80%; }

.block { display: block; }
.iblock { display: inline-block; }
.inline { display: inline; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.float-left { float: left; }
.float-right { float: right; }

.space { height: 4em; display: block; }
.space-bottom { margin-bottom: 4em; }
.small.space-bottom { margin-bottom: 2em; }
.pad { padding: 5px; }

.hint { font-size: 60%; line-height: 100%; opacity: 0.6; }
.hint.middle { line-height: 1.66667em; vertical-align: middle; }
.link { color: #d60; }
.no-link:hover { text-decoration: none; }
a { color: inherit; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

header {
    padding: 0 15px;
    padding-top: 15px;
    background: #c43;
    color: #fff;
    text-shadow: none;
}
#logo {
    font-size: 120%;
    margin-left: 5px;
}
#sublogo {
    display: inline-block;
    line-height: 166.7%;
    vertical-align: bottom;
    font-weight: 300;
}
#sublogo::before {
    content: ' - ';
}
#login {
    font-size: 60%;
    opacity: 0.8;
    text-align: right;
    position: fixed;
    top: 15px;
    right: 15px;
}
#login a { display: block; }
#login i { width: 1em; margin-left: 5px; }
header hr {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
nav {
    display: block;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-bottom: 1px solid rgba(0, 20, 50, 0.3);
    box-sizing: content-box;
    box-shadow: none;
    margin: 0 -10px;
    padding: 0 5px;
    padding-top: 3px;
}
nav * { color: inherit; }
nav .nav {
    padding: 12px;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-shadow: none;
}
nav .nav.active {
    color: #fca;
}
nav .nav:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
@media (max-width: 800px) {
    #logos { text-align: center; }
    #sublogo { display: block; }
    #sublogo::before { content: ''; }
    nav { color: transparent !important; text-align: center; }
}
header.fixed-scroll {
    padding-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header.fixed-scroll #logos {
    display: none;
}
header.fixed-scroll #login {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
}

footer {
    display: block;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-bottom: 1em;
}
footer hr { max-width: 30%; margin: 10px auto; }
main {
    display: block;
    min-height: 10em;
    margin: 4em auto;
    width: 80%;
}
p, .paragraph { text-align: justify; }
//p::first-letter, .paragraph::first-letter { font-size: 150%; }
h2, label { margin-bottom: 0.5em; font-size: 1.5em; }
ul, ol { text-align: left; padding-left: 1.5em; }
li { margin: 5px 0; }
dt { font-weight: 400; margin-top: 5px; }
dl { margin-bottom: 5px; }

form {
    width: 80%;
    max-width: 30em;
    margin: 4em auto;
}
form h1 {
    font-weight: 300;
}
form .hint {
    font-size: 1em;
}
form h1 .hint {
    font-size: 60%;
    line-height: 2em;
}
input, textarea {
    padding: 4px 8px;
    font-size: 1.2em;
    background: #fff;
    color: #000;
    border: none;
    width: 100%;
    display: block;
    box-shadow: none;
    border-style: solid;
    border-color:black;
    border: 1px solid rgba(90, 90, 90, .2);
    margin-bottom: 1em;
    box-sizing: border-box;
}
input:focus, textarea:focus {
    outline: none;
    border: 1px solid rgba(128, 192, 255, 0.5);
}
textarea {
    height: 4em;
}
input[type='submit'] {
    background: #555;
    color: #fff;
    text-shadow: none;
    transition: 0.2s background;
}
input[type='submit']:hover {
    background: #666;
}
input[type='submit']:active {
    background: #444;
}

output.error {
    background: #f64;
    padding: 4px;
    color: #fff;
    text-shadow: none;
    display: block;
    margin: 2px 0 4px 0;
}

input[type='radio'], input[type='checkbox'] {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    float: right;
}
input[type='radio']:checked::before, input[type='checkbox']:checked::before {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: -0.25em;
    content: '\f00c';
    font-family: 'FontAwesome';
}

#home-jumbo {
    
    background: #f64;
    
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 4em 0;
    overflow: hidden;
}
#home-jumbo form {
    margin: 0;
    margin-right: 4%;
    max-width: 42%;
    float: right;
}
#home-jumbo .about {
    max-width: 42%;
    float: left;
    margin-left: 4%;
    font-size: 120%;
    
}

#strong-title {

    text-align: center;
    font-size: 50px;
    color: #F6F6F6;
    text-indent: 50px;
    padding-top: 100px;
    text-shadow: none;
}

#title-description {
    
    text-align: center;
    font-size: 25px;
    line-height: 120%;
    color: #F6F6F6;
    text-indent: 50px;
    padding-top: 50px;
    text-shadow: none;
}

.home-text-left {
    
    padding-left: 10%;
    text-align: center;
    text-shadow: none;
    width: 30%;
    

}

#home-login {
    
    padding-top: 5px;
    padding-bottom: 70px;
    margin-left: 30%;
    width:40%;
    height: 50%;
}

#login-home a { display: block; }
#login-home i { width: 1em; margin-left: 5px; }

#home-tiles {
    margin: 4px auto;
    text-align: center;
}

#home-tiles .tile {
    border: 1px solid #dee0df;
    padding: 1%;
    border-radius: 4px;
    width: 30%;
    min-width: 320px;
    display: inline-table;
    margin-bottom: 20px;
}

.tiles .tile:last-child {
    margin-right: 0;
}

.tiles .tile h2 {
    color: #f4645f;
    font-size: 24px;
    font-weight: 400;
}

.tiles .tile p {
    font-size: 16px;
    color: #525252;
}


.tile h2 {
    
    color: #f4645f;
}

#syllabary-grid {
    width: 100%;
    font-size: 200%;

}

table, th, td {
    border: 1px solid rgb(150, 150, 150);
    border-collapse: collapse;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

.headerCell {
    background: #ddd;
}

.headerCell svg {
    width:100px;
    height:100px;
}

.syllableCell svg {
    width: 100px;
    height: 100px;
}

.symbol {
    align: center;
    float: center;
}

.symbol:hover #edit-button {
    visibility: visible;
}


.edit-button {
    font-size:35%;
    width: 60%;
    height: 22px;
}

#edit-button:active {
    background-color: rgb(200, 200, 200);
}


#settings-table {
    
    width: 100%
    font-size: 200%;
    
}

.headerCell img, .headerCell-selected img
{
    width:100px;
    height:100px;
}

.syllableCell
{
    background: #FFFFFF;
}

.syllableCell div, .syllableCell-selected div {
    position: relative; 
}

.syllableCell div img, .syllableCell-selected div img {
    width:100px;
    height:100px;
    position:absolute;
    left:0px;
    top:0px;
}

.syllableCell div img:first-child, .syllableCell-selected div img:first-child{
    width:100px;
    height:100px;
    position:static;
}

.syllabaryGrid
{
    width: 100%;
    font-size: 200%;
}

.col-controls,
.row-controls,
.cell-controls
{
    display: none;
}

.headerCell-selected, .syllableCell-selected
{
    background: #C43;
}

.headerCell,
.headerCell-selected,
.syllableCell,
.syllableCell-selected
{
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}

.headerCell img.sampleBtn,
.headerCell-selected img.sampleBtn,
.syllableCell img.sampleBtn,
.syllableCell-selected img.sampleBtn
{
    float:right;
    width:48px;
    height:48px;
}



#syllmain {
    margin: 2em auto;
}






.modal-open {
    overflow: hidden
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background-color: #000
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
    margin-top: -2px
}
.modal-title {
    margin: 0;
    line-height: 1.42857143
}
.modal-body {
    position: relative;
    padding: 15px
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
    margin-left: 0
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 650px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    position: relative;
    vertical-align: middle;
    padding: 6px 8px 8px 8px;
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    background: #888;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 100%;
    font-weight: normal;
    display: inline-block;
    box-sizing: border-box;

    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    transition: 0.2s all;
}
.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]::-webkit-file-upload-button:hover, button:hover {
    background: #aaa;
}
.button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input[type="file"]::-webkit-file-upload-button:active, button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
}

.red {
    background: #c43;
}
.red:hover {
    background: #e65;
}
.red:active {
    background: #a20;
}

.green {
    background: #6c4;
}
.green:hover {
    background: #8e6;
}
.green:active {
    background: #4a1;
}

.blue {
    background: #57d;
}
.blue:hover {
    background: #79f;
}
.blue:active {
    background: #24b;
}

.yellow {
    background: #fa0;
}
.yellow:hover {
    background: #fc2;
}
.yellow:active {
    background: #d80;
}

#font-dl {
    margin-top: 4px;
}

#grid-div {
    margin-top: 10px;
}

#undo-btn {
    position: fixed;
    right: 10px;
    top: 50%;
}
